/the_data-exchange.ko
/.the_data-exchange.o.cmd
/.the_data-exchange.ko.cmd
/data-exchange.o
/Module.symvers
/.data-exchange.o.cmd
/modules.order
/.the_data-exchange.mod.o.cmd
/the_data-exchange.mod.o
/the_data-exchange.mod.c
/the_data-exchange.o
